<!-- <h1>this is login page</h1>
<form action="/login" method="POST">
	<input type= "text" name = "username" placeholder="USE PHONE NO.">
	<input type= "password" name = "password" placeholder="password">
	<button>submit</button>
</form> -->

<!DOCTYPE html>
<html>
	<head>
		<title>Supplier Webpage</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script type="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="login_css.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
		</script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
		</script>
		<script>
			var maxID = 0;
			function getTemplateRow() {
				var x = document.getElementById("templateRow").cloneNode(true);
				x.id = "";
				x.style.display = "";
				x.innerHTML = x.innerHTML.replace(/{id}/, ++maxID);
				return x;
			}
			function addRow() {
				var t = document.getElementById("table1");
				var rows = t.getElementsByTagName("tr");
				var r = rows[rows.length - 2];
				r.parentNode.insertBefore(getTemplateRow(), r);
			}
			function deleteRow(row){
				var count = document.getElementById("table1").rows.length;
				if(count===3){
					return;
				}
				let rowid=row.id
				var i=row.parentNode.parentNode.rowIndex;
				document.getElementById('table1').deleteRow(i);
				var t = document.getElementById("table1");
				var rows = t.getElementsByTagName("tr");
				rows[rows.length - 2].id="templateRow";
			}
		</script>
	</head>
<body>
	<div class="container" >
		<h1 class="codirectText lead";>
			<span style='color: rgb(247, 135, 7)'>C</span>
			<span style='color: rgb(247, 135, 7)'>o</span>
			<span style='color: white'>D</span>
			<span style='color: rgba(37, 171, 248, 0.815)'>i</span>
			<span style='color: white'>r</span>
			<span style='color: rgb(84, 243, 10)'>e</span>
			<span style='color: rgb(84, 243, 10)'>c</span>
			<span style='color: rgb(84, 243, 10)'>t</span>
		</h1>
	</div>
	<!-- <div align="center" style="padding:60px ">

        <input type="text" placeholder="Enter your phone number" class="numberBox"><br><br>
        <input type="text" placeholder="Enter your password" class="numberBox"><br><br>

        <button class="nextButton">Next</button>
	</div> -->
	<div align="center" style="padding:60px ">
		<form action="/login" method="POST">
			<input type= "text" name = "username" placeholder="USE PHONE NO." class="numberBox"><br><br>
			<input type= "password" name = "password" placeholder="password" class="numberBox"><br><br>
			<button class="nextButton">submit</button>
		</form>
	</div>
</body>
</html>
