<!DOCTYPE html>
<html>
	<head>
		<title>Supplier Webpage</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script type="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="resource_css.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
		</script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
		</script>
		<!-- <SCRIPT language="javascript">
		function addRow(tableID) {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);
			var cell1 = row.insertCell(0);
			var element1 = document.createElement("select");
			element1.type = "text";
			element1.name="res"+table.rows.length.toString();
			cell1.appendChild(element1);
			var cell2 = row.insertCell(1);
			var element2 = document.createElement("input");
			element2.type = "text";
			element2.name = "res"+table.rows.length.toString();
			cell2.appendChild(element2);
			var cell3 = row.insertCell(2);
			var element3 = document.createElement("input");
			element3.type = "text";
			element3.name = "loc"+table.rows.length.toString();
			cell3.appendChild(element3);
		}
		function insRow(id)
		{
			var x=document.getElementById(id);
			// deep clone the targeted row
			var new_row = x.rows[1].cloneNode(true);
			// get the total number of rows
			var len = x.rows.length;
			// set the innerHTML of the first row
			new_row.cells[0].innerHTML = len;
			var inp0 = new_row.cells[0].getElementsByTagName('input')[0];
			inp0.id += len;
			inp0.value = '';
			// grab the input from the first cell and update its ID and value
			var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
			inp1.id += len;
			inp1.value = '';
			// grab the input from the first cell and update its ID and value
			var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
			inp2.id += len;
			inp2.value = '';
			// append the new row to the table
			x.appendChild( new_row );
		}
		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;
			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					table.deleteRow(i);
					rowCount--;
					i--;
				}
			}
			}catch(e){
				alert(e);
			}
		}
		</SCRIPT> -->
		<script>
			var maxID = 0;
			function getTemplateRow() {
				var x = document.getElementById("templateRow").cloneNode(true);
				x.id = "";
				x.style.display = "";
				x.innerHTML = x.innerHTML.replace(/{id}/, ++maxID);
				return x;
			}
			function addRow() {
				var t = document.getElementById("table1");
				var rows = t.getElementsByTagName("tr");
				var r = rows[rows.length - 2];
				r.parentNode.insertBefore(getTemplateRow(), r);
			}
			function deleteRow(row){
				var count = document.getElementById("table1").rows.length;
				if(count===3){
					return;
				}
				let rowid=row.id
				var i=row.parentNode.parentNode.rowIndex;
				document.getElementById('table1').deleteRow(i);
				var t = document.getElementById("table1");
				var rows = t.getElementsByTagName("tr");
				rows[rows.length - 2].id="templateRow";
			}
		</script>
	</head>
<body>
	<div class="container" >
		<h1 class="codirectText lead";>
			<span style='color: rgb(247, 135, 7)'>C</span>
			<span style='color: rgb(247, 135, 7)'>o</span>
			<span style='color: white'>D</span>
			<span style='color: rgba(37, 171, 248, 0.815)'>i</span>
			<span style='color: white'>r</span>
			<span style='color: rgb(84, 243, 10)'>e</span>
			<span style='color: rgb(84, 243, 10)'>c</span>
			<span style='color: rgb(84, 243, 10)'>t</span>
		</h1>
		<!-- <button class='btn btn-success pull-right suli'>
			Sign Up
		</button>
		<button class='btn btn-success pull-right suli'>
			Log In
		</button> -->
	</div>
	<div align="center">
		<table class="content-table" id="table1" >
			<thead>
			  <tr>
				<th>Resource</th>
				<th>Amount</th>
				<th>Location</th>
				<th class="empty">Delete</th>
			  </tr>
			</thead>
			<tbody cellspacing="0" cellpadding="0">
			  <tr class="active-row" id="templateRow">
				<td class="whiteback">
					<select name="resources" id="res1" style="width:75%">
						<option value="Oxygen">Oxygen</option>
						<option value="Remdesivir">Remdesivir</option>
						<option value="ICU">ICU</option>
						<option value="Bed">Bed</option>
					  </select>
				</td>
				<td class="whiteback" style="align-items: center" >
					<input type="number" id="amount1" name="amount" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"><br><br>
				</td>
				<td class="whiteback" style="align-items: center" >
					<input type="text" id="loc1" name="location" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"><br><br>
				</td>
				<td><i type="button" class="fa fa-trash-o" style="font-size:36px;color:red;align-self:left;" onclick="deleteRow(this)" ></i></td>
			  </tr>
			  <tr class="active-row">
				<td class="whiteback">
					<select name="resources" id="res2" style="width:75%;background-color: c2b2b2;">
						<option value="Oxygen">Oxygen</option>
						<option value="Remdesivir">Remdesivir</option>
						<option value="ICU">ICU</option>
						<option value="Bed">Bed</option>
					  </select>
				</td>
				<td class="whiteback" style="align-items: center" >
					<input type="number" id="amount1" name="amount" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"><br><br>
				</td>
				<td class="whiteback" style="align-items: center" >
					<input type="text" id="loc1" name="location" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"><br><br>
				</td>
				<td ><i type="button" class="fa fa-trash-o" style="font-size:36px;color:red" onclick="deleteRow(this)"></i></td>
			  </tr>
			  <tr class="active-row">
				<td class="whiteback">
					<select name="resources" id="res3" style="width:75%">
						<option value="Oxygen">Oxygen</option>
						<option value="Remdesivir">Remdesivir</option>
						<option value="ICU">ICU</option>
						<option value="Bed">Bed</option>
					  </select>

				</td>
				<td class="whiteback" style="align-items: center" >
					<input type="number" id="amount1" name="amount" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"><br><br>
				</td>
				<td class="whiteback" style="align-items: center" >
					<input type="text" id="loc1" name="location" style="width: 75%;height: 45px;margin-top: 22px;margin-bottom: 0px;"><br><br>
				</td>
				<td ><i type="button" class="fa fa-trash-o" style="font-size:36px;color:red" onclick="deleteRow(this)"></i></td>
			  </tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				   <td valign="bottom" align="center">
					 <button id="addRowButton" class="fa fa-plus" style="height: 50px; width:50px; color:white ;background-color:transparent;margin-left: 27px;border-top: 5px solid #ffffff;" onclick="addRow()">
					 </button>
				   </td>
				</tr>
			 </tfoot>
		  </table>
	</div>
</body>
</html>
